body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  width: 100%;
  top: 80px;
  left: 0px;
  position: fixed;
  transform: translateX(0px) translateY(0px);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  margin-top: 80px;
  margin-bottom: 50px;
  width: 80%;
  position: relative;
}

.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  padding-left: 10%;
  padding-right: 10%;
}

.fullscreen-image {
  cursor: zoom-out;
}

.grid-image {
  cursor: zoom-in;
}
